body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

body,
.card {
    background: #35465d;
    background: -webkit-linear-gradient(to bottom, #192740, #35465d);
    background: linear-gradient(to bottom, #192740, #35465d);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAVBAR */
.nav {
    font-size: 15px !important;
    position: fixed;
}

#mainNav {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
    font-weight: 800;
    color: white;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: white;
}

.fa-bars {
    padding-left: 0.2em;
}

#mainNav .navbar-nav > li.nav-item > a {
    color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
    #mainNav {
        border-bottom: 1px solid transparent;
        background: 0 0;
    }

    #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #fff;
    }

    #mainNav .navbar-brand:focus,
    #mainNav .navbar-brand:hover {
        color: rgba(255, 255, 255, 0.8);
    }

    #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #fff;
    }

    #mainNav .navbar-nav > li.nav-item > a:focus,
    #mainNav .navbar-nav > li.nav-item > a:hover {
        color: rgba(255, 255, 255, 0.8);
    }
}

@media only screen and (min-width: 992px) {
    #mainNav {
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        transition: background-color 0.2s;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }

    #mainNav.is-fixed {
        position: fixed;
        top: -67px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.9);
    }

    #mainNav.is-fixed .navbar-brand {
        color: #212529;
    }

    #mainNav.is-visible {
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

/* MANGA CARD */
.card {
    width: 100%;
    border-radius: 10px;
}

/* COMMON STYLE */
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
    color: white;
    font-family: "Montserrat";
}

.card-title {
    color: white;
    font-family: Roboto;
    font-size: 1.2rem;
    margin-bottom: 0;
}

/* LOGO */
#logo {
    width: 45px;
    height: 45px;
}

.card-img-top {
    height: 16rem;
    align-self: center;
}

.fa-plus-circle {
    color: white;
}

#loading-icon,
#white-text {
    color: white;
}

.img-modal {
    width: 7rem;
    height: 10rem;
}

.modal-title {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.chap-title {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
}

.manga-title {
    font-size: 1.5rem;
    color: black;
}

#mangaSearch,
#alertInfo {
    width: 100%;
}

#btnSubManga {
    background-color: white;
    color: #35465d;
    border-color: #35465d;
    font-weight: 600;
    text-transform: uppercase;
}

/* TABLETTES, TELEPHONES */
@media (max-width: 768px) {
    #alertInfo {
        width: 90%;
    }

    #btnSignIn {
        margin-top: 0.4em;
    }

    .row-eq-height {
        justify-content: center;
    }

    .card-img-top {
        width: 100%;
        height: 13rem;
    }
}

/* PC PORTABLES */
@media (max-width: 1024px) {
    .card-img-top {
        height: 14rem;
    }
}

/* TELEPHONES ONLY */
@media (max-width: 425px) {
    .card-img-top {
        width: 100%;
        height: 8.3rem;
    }

    .card-title {
        font-size: 1rem;
    }
}

/* GRID COL MAX  */
@media (max-width: 575px) {
    .col-detail {
        margin-top: 3rem;
    }
}

#bntLogin {
    margin-right: 0.4em;
    border-radius: 0.2em;
}

#btnSignIn {
    border-radius: 0.2em;
}

#btnFormLogin {
    width: 100%;
}

.fa-beat {
    animation: fa-beat 5s ease infinite;
}

@keyframes fa-beat {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.25);
    }
    20% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.25);
    }
    70% {
        transform: scale(1);
    }
}

.row-loadingpage {
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.col-manga {
    padding: 8px 12px 8px 8px;
    display: flex;
}

.scale-on-hover {
    transition: all 0.2s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: left;
    padding: 7px;
    flex-direction: column;
}

.black {
    color: black;
}

.grey {
    color: #a2a2a2;
}

.subtitle-input {
    font-style: italic;
    margin-bottom: 0;
}

.edit-icon {
    opacity: 0.3;
}

.hover-white:hover {
    opacity: 1;
    color: white;
}

.row-edit {
    justify-content: space-evenly;
}

.input-update-chapter {
    border: none;
    background: transparent;
    color: white;
    outline: none;
}

.is-up-to-date {
    color: lightskyblue;
    font-weight: bold;
}

.icone-plus {
    align-self: center;
    opacity: 0.5;
}

.col-icone-plus {
    transform: none !important;
    transition: none !important;
}

.hr-separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(255, 255, 255, 0.75),
            rgba(0, 0, 0, 0)
    );
}

.bisque {
    color: bisque;
}

.profilIcon {
    font-size: 48px;
}

.no-border-top {
    border-top: 0;
}

.list-group-link, .list-group-link:hover {
    text-decoration: none;
}

.list-group-link:hover {
    color: black;
}

.list-group-link {
    color: #212529;
}

/* LOGIN PAGE */
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    background: white;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }

    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

/**  LANDING PAGE */

#heading-section {
    height: 95vh;
    z-index: 999;
}

#heading-section .col-manga {
    min-width: 190px;
}

/* BIGGER THAN TABLETTE */
@media only screen and (min-width: 769px) {
    #heading-section .row {
        height: 95vh;
    }
}

/* MAX TABLETTE*/
@media only screen and (max-width: 768px) {
    #heading-section {
        margin-top: 3em;
    }
}

/* MOBILE ONLY*/
@media only screen and (max-width: 425px) {
    #heading-section .col-manga {
        min-width: 160px;
    }
}

/* MOBILE S ONLY*/
@media only screen and (max-width: 340px) {
    #heading-section .col-manga {
        min-width: 150px;
    }
}

#heading-section .col-manga:hover {
    transform: translate(0, -1rem);
}

#heading-section .col-manga:not(:first-child) {
    margin-left: -100px;
}

#heading-section .col-manga:hover ~ .col-manga {
    transform: translateX(80px);
}

#heading-section h2, #heading-section p:not(.card-text) {
    font-family: "Montserrat";
}

/* MANGA DETAIL */

.img-detail {
    height: 25rem;
}

.manga-detail-form > .form-group {
    margin-bottom: 0;
}

.row-detail-follow {
    margin-top: 1rem;
}

.detail-mangaTitle, .detail-mangaAuthor {
    padding-left: 15px;
}

.detail-mangaAuthor {
    font-style: italic;
}

.rounded-1 {
    border-radius: 1rem !important;
}

.bg-white {
    background: white;
}

.rounded-inputs input {
    border-radius: 2rem;
}

.label-black label {
    color: black;
}

.text-blue {
    color: #0079BF !important;
}

a.text-blue:hover {
    color: lightskyblue !important;
}


.popover .list-group-item:hover {
    background: #f2f3f5;
}

.font-roboto {
    font-family: "Roboto", Arial;
}

.cursor-pointer {
    cursor: pointer;
}


/* COLUMN SYSTEM */

.list-wrapper:first-child {
    margin-left: 8px;
}

.list-wrapper {
    width: 272px;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.list-content {
    background-color: #ebecf0;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
}


.list-cards {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 4px;
    padding: 0 4px;
    z-index: 1;
    min-height: 0;
}

.list-card {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.not-selected {
    opacity: 0.3;
}

#column-board {
    white-space: nowrap;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
}

.list-header {
    flex: 0 0 auto;
    padding: 10px 8px;
    position: relative;
    min-height: 20px;
}

.text-grey {
    color: grey;
}

.img-column-item {
    height: 5rem;
    border-radius: 5px;
}

.hover-blue:hover {
    color: #0079BF !important;
}

.text-light-gray {
    color: lightgray;
}

.updateMangaIcon {
    opacity: 0.5;
    color: lightgray;
}

.updateMangaIcon:hover {
    color: #0079BF !important;
}

.img-column-item:hover {
    opacity: 0.7;
}